@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 9fr;

    font-weight: bold;
    font-family: "Roboto", serif;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: #1992d4;
    color: white;

    padding-left: 1rem;
    padding-right: 0.5rem;
}

.sidebar-title {
    display: flex;
    gap: 0.5rem;
}

.button {
    display: flex;
    gap: 0.5rem;
}

.button:hover, .header-icon:hover, .project-icon:hover, .profile-button:hover {
    opacity: 0.5;
}

.sidebar-title-icon {
    width: 40px;
}

.sidebar-icon, .header-icon {
    width: 24px;
}

.upper-menu {
    margin-bottom: 5rem;
}

.header {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 4fr 6fr;

    padding: 1rem;
}

.small-profile-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.medium-profile-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.searchbar-container {
    grid-column: 1 / 5;
    grid-row: 1 / 4;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.searchbar {
    background-color: #e2e8f0;
    width: 35rem;
    height: 2rem;
    border-radius: 20px;
}

.notification-container {
    grid-column: 5 / 10;
    grid-row: 1 / 4;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-upper-name {
    font-weight: bold;
}

.profile-container {
    grid-column: 1 / 10;
    grid-row: 4 / 10;

    display: flex;
    gap: 25%;
    align-items: center;
}

.greeting-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-button-container {
    display: flex;
    gap: 2rem;
}

.profile-button {
    background-color: #1992d4;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 40px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 3fr 3fr 3fr;

    background-color: #e2e8f0;
    padding-left: 1.5rem;
    box-shadow: 0 5px 10px -3px inset gray;
}

.projects {
    grid-template-columns: 1 / 8;
}

.project-cards {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 2rem;
}

.project-container {
    background-color: white;
    border-left-color: #f0b429;
    border-left-width: 0.5rem;
    border-left-style: solid;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 10px -2px rgb(154, 154, 154);
    width: 20rem;
}

.project-container p, .announcements-container p {
    font-weight: lighter;
    color: #6d6d6d;
}

.project-icons {
    display: flex;
    gap: 1rem;
    margin-left: 65%;
}

.project-icon {
    width: 24px;
}

.announcements {
    grid-column: 8 / 10;
    grid-row: 1 / 2;

    margin-left: 1rem;
}

.announcements-container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.trending {
    grid-column: 8 / 10;
    grid-row: 2 / 10;

    margin-left: 1rem;
}

.trending-container {
    background-color: white;;
}
